.content {
    width: 100%;
    max-width: 100%;
    padding: 12px 1.5% 12px;
    background-color: white;
}

.card {
    margin: 0 auto;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card:hover {
    background-color: whitesmoke;
    cursor: pointer;
    max-height: 100%;
}

.emptyNotification {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}